tbody{
color: #fff;
}
.view_pop, .view_cost{
border: 1px solid black;
font-size: 1.5rem;
font-family: 1.6rem;
font-weight: bold;
margin: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
color: #FFF;
width: max-content;
position: relative;
right:280px;
}